:root{
    --color-content:#F0F2F5;

    --color-grey-light-1:#65676B;
    --color-grey-light-2:#656781;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.50%;      // 1rem = 10px 10/16px = 62.5%
}


body{
    font-family: 'Open-Sans', sans-serif;
    // background: #fff;
    // direction: ltr;
    line-height: 1.34;
    background: #F0F2F5;

}