.container{
    width: 100%;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    font-size: 1.5rem;
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
    border-bottom: 1px solid #E4E6EB;
}

.content{
    display: flex;
    background-color: #F0F2F5;
    // height: 200vh;
    
}


                        
.scrollbar{
    width: 30rem;
    height: 100vh;
    border-right: 15px solid transparent;
    overflow: -moz-hidden-unscrollable;
    
::-webkit-scrollbar {
    width: 30px;
  }
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 8px;
    }
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    }
::-webkit-scrollbar-thumb:hover {
    background: #d8d6d6; 
    }

    &:hover{
        border-right: 10px solid #c0bebe;
    }
}

.sidebar{
    // background-color: blue;
    flex: 0 0 20%;
    // height: 50rem;
    background-color: #F0F2F5;

}


.main-view{
    // background-color: yellowgreen;
    // padding-left: 32px;
    flex: 1;
}

.sidebar-L{
    // background-color: orangered;
    flex: 0 0 22%;
}

